@font-face {
    font-family: 'Gotham Medium';
    src: url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
h1,h2,h3,h4,h5{
    font-family: 'Gotham Medium';
}
p, span, li, a{
    font-family: 'Gotham Book';
}
.logo{
    width:300px; 
    position: absolute; 
    top: 0px; 
    left: 20px;
}
.section{
    width: 100%;
    height: 100vh;
    
}
#slide1{
    background-image: url('../image/b1.jpg');
    background-size: cover;
    background-position: center;
}
#slide2{
    background-image: url('../image/b2.jpg');
    background-size: cover;
    background-position: top;
}
#slide3{
    background-image: url('../image/b3.jpg');
    background-size: cover;
    background-position: center;
}
#slide4{
    background-image: url('../image/b4.jpg');
    background-size: cover;
    background-position: center;
}
#slide5{
    background-image: url('../image/b5.jpg');
    background-size: cover;
    background-position: center;

}

.navbar-light .navbar-nav .nav-link {
color: black;
margin-left: 15px;
margin-right: 15px;
font-weight: 800;
font-size: 13px;
letter-spacing: 1px;
}
.upper{
    padding-top: 130px;
}
.upper h2{
    font-size: 25px;
    margin-bottom: 0px;
}
.upper p{ 
    
    padding-top: 130px;
    font-size: 20px;
    color: black;
    line-height:0px
       
}
.upper p a{
    color: black;
}
.fp-tableCell {
    vertical-aling: top;
}
.upper h2, .upper p
{
 opacity: 0;
 visibility: hidden;
}
@media only screen and (max-width:990px){
    .logo { 
        width:300px; 
        position: absolute; 
        top: 0px; 
        left: auto; 
        right: 20px;
    }
}
.navbar{
    background-color: white;
}
